.IconoCarpeta {
  color: #fff;
  font-size: 50px;
  margin-bottom: 10px;
}

.ContainerCarpeta {
  justify-content: center;
      gap: 10px;
}

.IconoCarpeta {
  text-align: center;
}

.CardCorazonsss {
  margin-bottom: 15px;
}