
.Card-Megusta {
  position: relative;
  width: 290px;
  height: 70px;
  margin: 10px auto;
  background-color: #201f1f;
  padding: 10px;
  border-radius: 10px;
  display: flex; 
  flex-direction: row;
  
  transition: all 0.3s ease;
}

.Corazon2 {
  width: 70px;
  height: 70px;
  border-radius: 3px;
}

.Playlist-Tus-me-gusta {
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  text-align: center;
}

.Card-Megusta:hover {
  background-color: #686868;
  transform: translateY(-5px);
}

.Delete {
  display: flex;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  position: absolute;
  top: 70%;
  right: 2%;
  z-index: 999999999;
}

.PlayListContainer-Container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  height: 100%; 
  margin-top: 10px;
}

.CreatePlaylist {
  margin-bottom: 10px;
  background-color: #252525;
  width: 200px;
  height: 30px;
  color: #fff;
  cursor: text;
  border: none;
  text-align: center;
  border-radius: 20px;

  padding: 14px 18px;
  line-height: normal; 
  text-align: left;
  box-sizing: border-box;
}

.Name {
  position: absolute;
  top: 15px;
  left: 90px;
}