body {
  background-color: #18181a;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.play {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  background-color: #1DB954;
  cursor: pointer;
  border: none;
}

.imagenes-Canciones {
  border-radius: 10px;
}

.Card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan */
   /* Distribuye los elementos de manera uniforme */
  background-color: #333;
  color: #fff;
  margin-bottom: 20px;
  width: 80%;
  border-radius: 15px;
}

.card {
  flex: 0 0 100px; /* El ancho de la tarjeta es 20% del contenedor */
  max-height: 470px;
  margin: 10px;
  background-color: #444;
  padding: 10px;
  border-radius: 10px;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
 
}

header {
  background-color: #000;
  color: aliceblue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between; 
  padding: 0 20px;
  height: 100px;
}

.Lupa {
  color: #fff;
  background-color: #333;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  font-size: 17px;
  cursor: pointer;
  border: none;
}

.Logo {
  width: 50px;
  height: 50px;
}

.Center-content {
  display: flex;
  align-items: center; /* Centra verticalmente el buscador y la lupa */
  justify-content: center; /* Centra horizontalmente los elementos dentro */
  gap: 10px; /* Espaciado entre el buscador y la lupa */
  width: 100%;
}

.Playlist {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan */
  justify-content: space-around; /* Distribuye los elementos de manera uniforme */
  background-color: #333;
  color: #fff;
  margin-bottom: 20px;
  width: 20%;
  border-radius: 15px;
}

.Container {
  display: flex;
  flex-wrap: nowrap; /* Evita que las tarjetas se envuelvan */
  gap: 10px; /* Espaciado entre las tarjetas (opcional) */
}

.Buscador-container {
  position: relative;
  width: 100%; /* Ajusta el ancho según sea necesario */
}

.Buscador {
  text-align: left; /* Alineación del texto a la izquierda */
  height: 40px;
  border-radius: 100px;
  background-color: #1f1f1f;
  cursor: text;
  width: 85%; /* Ajusta el ancho según sea necesario */
  max-width: 400px; /* Ancho máximo para el input */
  margin: 10px 0; /* Espaciado vertical */
  font-size: 17px;
  padding-left: 45px;
  border: none;
  color: #fff;
}

.Buscador-icon {
  position: absolute;
  left: 15px; /* Coloca el icono en la parte izquierda */
  top: 49%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  z-index: 2;
}